.jumbotron h1 {
    color: rgb(119, 37, 196);
}

.jumbotron p {
    color: rgb(119, 37, 196);
}

.white-text h2 {
    color: rgb(119, 37, 196);
}

.aliceblue-text p {
    color: rgb(119, 37, 196);
}

.col-md-12 p {
    color: rgb(119, 37, 196);
}

body {
    background-color: rgb(222, 24, 24);
}